* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121214;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

span, a {
    color: white;
    font-family:  sans-serif;
}

#card {
    display: flex;
    gap: 1rem;
}

.wrap {
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: end;

    position: relative;
}

.wrap:hover {
    transform: scale(1.1);
    transition: ease-in-out 1s;
    transition: ease-in 1s;
}

.people-background {
    height: 17rem;
    width: 13rem;
    border-radius: 50%;
    z-index: 0;
}

.people {
    position: absolute;
    height: 17rem;
    width: 13rem;
    border-radius: 50%;
    z-index: 1;
}

.people:hover {
    transition: ease-in-out 1s;
    height: 20rem;
}